map {
  display: block;
  width: 250px;
  height: 150px;
  clear: left;
}
.scroll {
  height: 100%;
}
.bar.bar-stable .title {
  color: orange;
  font-size: 24px;
  background-color: red;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.thumb {
  display: inline-block;
  width: 25px;
  height: 25px;
}
p { 
  display: inline-block;
}
input {
  max-width: 150px;
}
.animate-map-if.ng-enter, .animate-map-if.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-map-if.ng-enter,
.animate-map-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-map-if.ng-leave,
.animate-map-if.ng-enter.ng-enter-active {
  opacity:1;
}