map {
  display: block;
  width: 20%;
  height: 20%;
  clear: left;
}
.scroll {
  height: 100%;
}
.bar.bar-stable .title {
  color: orange;
  font-size: 24px;
  background-color: red;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.thumb {
  display: inline-block;
  width: 25px;
  height: 25px;
}
p { 
  display: inline-block;
}
input {
  max-width: 150px;
}

// ANIMATIONS (DETAILED VIEW)
.sentence-images {
  background-color: white;
  width: 450px;
  height: 450px;
  overflow: hidden;
  position: relative;
  float: left;
}

img.sentence {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
  display: none;
}

img.sentence:first-child {
  display: block;
}

.nav-health li {
  display: inline-block;
  float: center;
  border-radius: 40px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ee9900;
}

.error { 
  color: #ff0000;
}

.health-progress-bar {
  display: inline-block;
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

.health-progress-bar > .title {
  background-color: #aa00aa;
  color: white;
  font-weight: bold;
  // padding: 10px;
  cursor: pointer;
}

.health-progress-bar > .body {
  background-color: #ffaaff;
  color: #000000;
  // padding: 10px;
  height: 50px;
}

#shared-quote-count {
  color: #44ff99;
}
