map {
  display: block;
  float: right;
  width: 50%;
  height: 50%;
}
.scroll {
  height: 100%;
}
.bar.bar-stable .title {
  color: orange;
  font-size: 24px;
  background-color: red;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
