<ion-header-bar class="bar-stable">
  <h1 class="title">Map for Luke</h1>
  <button id="map">Show Map</button>
  <!-- 3. POLYFILL - Declare the element. Configure using its attributes. -->
  <core-ajax url="//example.com/json" handleAs="json"></core-ajax>
</ion-header-bar>

<ion-content scroll="true">

  <!-- tab bar custom directive -->
  <health-tabs></health-tabs>

  <!-- tab content panels -->
  <div class="panel" ng-show="tab === 1">
    <h4>{{ tab }}</h4>
    <p>{{product.info}}</p>
  </div>

  <div class="panel" ng-show="tab === 2">
    <h4>{{ tab }}</h4>
    <h3>Health Condition Estimate</h3>
    <health-conditions></health-conditions>
  </div>

  <div class="panel" ng-show="tab === 3">
    <h4>{{ tab }}</h4>
    <h3>Health Quotation</h3>
    <health-quotations></health-quotations>
  </div>

  <map on-create="mapCreated(map)"></map>

  <!-- dynamic content. -->
  <!-- Angular refreshes binding points. Updates view -->
  <!-- HTML template (view) as projection of model --> 
  <!-- attaches SentenceListCtrl to ul tag -->
  <!-- controller is constructor fn taking $scope param -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!--Sidebar content-->
        
        <!-- Angular data-binds input box name on page load to matching data model -->
        Search: <input ng-model="query" focus><br>

        <!-- two-way data-binding b/w Select element and orderProp Model -->
        <!-- added 'age' property to each sentence record to order by age --> 
        <!-- Template | Model | View -->
        Sort by: {{orderProp}}
        <select ng-model="orderProp">
          <option value="name">Alphabetical</option>
          <option value="snippet">Newest</option>
          <option value="-snippet">Oldest</option> <!-- reverse sort order -->
        </select>

      </div>
      <div class="col-md-10">
        <!--Body content-->

        <ul class="sentences">
          <!-- REPEATER SCOPE -->
          <!-- Angular filter fn to process input for ngRepeat Directive -->
          <!-- it creates a new array of records matching the query --> 
          <!-- orderProp Model is input to orderBy Filter -->
          <!-- class 'sentence-listing' applied to hook in CSS animation code -->
          <li ng-repeat="sentence in sentences | filter:query | orderBy:orderProp"  class="sentence-listing">
            <!-- bindings refer to app model setup in controller -->
            <!-- ngBind or ngBindTemplate Directives used instead of handlebars in innerHTML section so invisible to user while page loading -->
            <!-- ngCloak (works w IE7) hides attr until compiled by Angular -->
            <!-- stops HTML template being briefly displayed flicker effect -->
            <!-- dynamically generate links using moustache binding -->
            <!-- ngSrc Directive for image attribute binding instead of just 'src' that grabs only the literal text -->
            <a href="#/sentences/{{sentence.id}}"><img class="thumb" ng-src="{{sentence.imageUrl}}"/></a>
            <span>{{$index + 1}}</span>
            <span>{{sentence.name}}</span> |
            <p>{{sentence.snippet}}</p>
            <!-- ngBindTemplate allows multiple {{ }} -->
            <a href="{{sentence.name}}-{{sentence.snippet}}-{{ query }}" ng-bind-template="{{ query }}">title</a>
          </li>
        </ul>

        <!-- repeater to create a simple table with i incremented by 1 in binding -->
        <table>
          <tr><th>Row Number</th></tr>
          <tr ng-repeat="i in [0, 1, 2]"><td>{{i+1}}</td></tr>
        </table>

      </div>
    </div>
  </div>

</ion-content>

<ion-footer-bar class="bar-stable" id="mapInactive">
  <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></a>
</ion-footer-bar>