<img ng-src="{{sentenceHello.images[0]}}" class="sentence">

<h1>{{ sentenceMain[0].name }} {{ sentenceMain[0].name | checkmark }}</h1>

<p>{{ sentenceHello.description }} {{ sentenceHello.description | checkmark }}</p>

<ul>
  <li ng-repeat="img in sentenceHello.images">
    <img ng-src="{{img}}" class="sentence-thumbnails">
  </li>
</ul>

<ul class="specs">
  <li>
    <dl>
      <dt>Storage</dt>
      <dd>{{ sentenceHello.storage.brain }} {{ sentenceHello.storage.brain | checkmark }}</dd>
      <dd>{{ sentenceHello.storage.dictionary }} {{ sentenceHello.storage.dictionary | checkmark }}</dd>
    </dl>
  </li>
</ul>