<!-- <img ng-src="{{sentence.images[0]}}" class="sentence"> -->
<img ng-src="{{mainImageUrl}}" class="sentence">

<h1>{{sentence.name}}</h1>

<p>{{sentence.description}}</p>

<ul class="sentence-thumbnails">
  <li ng-repeat="img in sentence.images">
    <!-- register ngClick event handler with thumbnail images -->
    <!-- to change the value of the mainImageUrl property to URL of thumbnail -->
    <img ng-src="{{img}}" ng-click="setImage(img)" class="thumbs">
  </li>
</ul>

<ul class="specs">
  <li>
    <dl>
      <dt>Storage</dt>
      <dd>{{sentence.storage.brain}}</dd>
      <dd>{{sentence.storage.dictionary}}</dd>
    </dl>
  </li>
</ul>