<!DOCTYPE html>
  <body ng-app="YeomanIonic" ng-controller="MapCtrl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>"YeomanIonic"</title>

    <!-- 1. POLYFILL - Load platform.js for polyfill support. -->
    <!-- Note: This file must be included before code that touches the DOM. -->
    <!-- Run server for HTML Imports polyfill to work until native API avail -->
    <script src="bower_components/platform/platform.js"></script>
    <!-- 2. POLYFILL - Use an HTML Import to bring in the element. -->
    <!-- Note: Import location (URL) from alternate domain must be -->
    <!--       CORS-enabled. Refer to: -->
    <!--       http://www.html5rocks.com/en/tutorials/webcomponents/imports/ -->
    <link rel="import" href="bower_components/core-ajax/core-ajax.html">

    <!-- build:css styles/vendor.css -->
    <!-- <link rel="stylesheet" href="vendor/some.contrib.css"> -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ionic/release/css/ionic.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

  </head>
  <!-- ROOT SCOPE (i.e. ngApp) -->
  <!-- MAPCTRL SCOPE -->
  <!-- ngCloak (works w IE7) hides attr until compiled by Angular -->
  <!-- stops HTML template being briefly displayed flicker effect -->
  <body ng-app="YeomanIonic" ng-controller="MapCtrl" ng-cloak class="ng-cloak">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Map for Luke</h1>
      <button id="map">Show Map</button>
      <!-- 3. POLYFILL - Declare the element. Configure using its attributes. -->
      <core-ajax url="//example.com/json" handleAs="json"></core-ajax>
    </ion-header-bar>

    <ion-content scroll="false">
      <!-- dynamic content. -->
      <!-- Angular refreshes binding points. Updates view -->
      <!-- HTML template (view) as projection of model --> 
      <!-- attaches SentenceListCtrl to ul tag -->
      <!-- controller is constructor fn taking $scope param -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2">
            <!--Sidebar content-->
            
            <!-- Angular data-binds input box name on page load to matching data model -->
            Search: <input ng-model="query">

            <!-- two-way data-binding b/w Select element and orderProp Model -->
            <!-- added 'age' property to each sentence record to order by age --> 
            <!-- Template | Model | View -->
            Sort by: {{orderProp}}
            <select ng-model="orderProp">
              <option value="name">Alphabetical</option>
              <option value="snippet">Newest</option>
              <option value="-snippet">Oldest</option> <!-- reverse sort order -->
            </select>

          </div>
          <div class="col-md-10">
            <!--Body content-->

            <ul class="sentences">
              <!-- REPEATER SCOPE -->
              <!-- Angular filter fn to process input for ngRepeat Directive -->
              <!-- it creates a new array of records matching the query --> 
              <!-- orderProp Model is input to orderBy Filter -->
              <li ng-repeat="sentence in sentences | filter:query | orderBy:orderProp track by $index">
                <!-- bindings refer to app model setup in controller -->
                <!-- ngBind or ngBindTemplate Directives used instead of handlebars in innerHTML section so invisible to user while page loading -->
                <!-- dynamically generate links using moustache binding -->
                <!-- ngSrc Directive for image attribute binding instead of just 'src' that grabs only the literal text -->
                <a href="#/sentences/{{sentence.id}}"><img class="thumb" ng-src="{{sentence.imageUrl}}"/></a>
                <span>{{sentence.name}}</span> |
                <p>{{sentence.snippet}}</p>
                <!-- ngBindTemplate allows multiple {{ }} -->
                <a href="{{sentence.name}}-{{sentence.snippet}}-{{ query }}" ng-bind-template="{{ query }}">title</a>
              </li>
            </ul>

            <!-- repeater to create a simple table with i incremented by 1 in binding -->
            <table>
              <tr><th>Row Number</th></tr>
              <tr ng-repeat="i in [0, 1, 2]"><td>{{i+1}}</td></tr>
            </table>

          </div>
        </div>
      </div>
      
      <!-- binding to see list of sentences displayed in JSON format -->
      <!-- pre>{{sentences | json}}</pre> -->

      <map on-create="mapCreated(map)"></map>

    </ion-content>

    <ion-footer-bar class="bar-stable" id="mapInactive">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></a>
    </ion-footer-bar>

    <!-- build:js scripts/vendor.js -->
    <!-- This Google Maps API file was downloaded from: -->
    <!-- https://maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es&sensor=true -->
    <!-- Saving it in the vendor/ directory allows it to be bundled as part of the build system. -->
    <!-- You should replace it with a version downloaded using your API key -->
    <script src="vendor/google/maps.js"></script>
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/collide/collide.js"></script>
    <script src="bower_components/ionic/release/js/ionic.js"></script>
    <script src="bower_components/ionic/release/js/ionic-angular.js"></script>
    <script src="bower_components/polymer/polymer.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- build:js scripts/scripts.js -->
    <script src="scripts/config.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/directives.js"></script>
    <!-- 4. POLYFILL -->
    <script type="text/javascript" async="true">
      /* 
        Polymer's Polyfill Browser Support and Feature Detection 
          - Check if .import exists on <link> element
          - Currently Chrome 36 browser supports latest implementation spec

        Note: To enable experimental Web Platform features in Chrome browser visit chrome://flags/ 
        
        Refer to: 
          http://www.html5rocks.com/en/tutorials/webcomponents/imports/ 
       */
      function supportsImports() {
        return 'import' in document.createElement('link');
      }

      if (supportsImports()) {
        // Good to go!

        /* HTML Imports polyfill begins processing link tags 
           including linked stylesheets, external scripts, nested HTML imports
           when DOMContentLoaded event fires. Listen for HTMLImportsLoaded
           event on window. The polyfill does not parse any data in loaded resources. Custom Elements polyfill detects when HTML Imports is loaded to parse all imports when HTMLImportsLoaded event fires.
           Links: 
            - HTMLImports W3C Spec - http://w3c.github.io/webcomponents/spec/imports/
            - HTMLImports Spec Implemented by Polyfill on GitHub - https://github.com/polymer/HTMLImports
         */
        window.addEventListener('HTMLImportsLoaded', function(e) {
          // all imports loaded
          console.log("==> STATUS - All imports loaded");
        });
        /* WebComponentsReady event stands in for native behaviour (instead of using HTMLImports to polyfill) by ensuring the imports have loaded and any registered elements in them upgraded through blocking the loading of imports with <script> tags in the main document. 
         */
        window.addEventListener('WebComponentsReady', function(e) {
          // imports are loaded and elements have been registered
          console.log("==> STATUS - All imports loaded and elements registered");
          // use an 'underscore' in the polyfill to reference the document itself.
          console.log("==> STATUS - Current HTML document is:" + document._currentScript.ownerDocument.title);
        });

        // Wait for 'polymer-ready'. Ensures the element is upgraded.
        window.addEventListener('polymer-ready', function(e) {
          console.log("==> STATUS - Polymer ready");
          var ajax = document.querySelector('core-ajax');

          // Respond to events it fires.
          ajax.addEventListener('core-response', function(e) {
            console.log("==> STATUS - Responding to event fired by Core Response");
            console.log(this.response);
          });

          ajax.go(); // Call its API methods.
        });

      } else {
        // Use other libraries/require systems to load files.
        console.log("==> STATUS - Browser does not support Polymer Polyfill");
        document.querySelector("#title").innerHTML = "Browser does not support Polymer Polyfill";
      }

    </script>
    <!-- endbuild -->
</body>
</html>
